.navbar h2  {
  padding-left: 10px;;
  color: white;
  float: left;
}

.thumbnail h4 {
  text-align: center;
}

.fa-camera {
  color: white;
  float: right;
  padding: 15px 15px 0 0;
}

#host {
  padding-top: 60px;
}

#projector {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}

#directional-buttons{
  margin: 0 auto;
  width: 80%;
  margin-top: 10px;
}

#arrow-left {
  margin-right: 30px;
}

#arrow-right {
  margin-left: 30px;
}

.tab-content h3 {
  padding-left: 10px;
}

