body 
{
    background-color: #222222;
}
.rounded-fix-padding
{
     padding-left: 10px;
     padding-right: 10px;
}
#system-controls
{
    margin: 5px 0px;
}

#messages-content{
    clear:both;
}
#camera-view {
    display: inline-block;
    position: relative;
}
#dpad {
    position: absolute;
    bottom: 20%;
    width:  20%;
    left: 2.5%;
}
#dpad button
{
    height: 33%;
    width: 33%;
    margin: 0 auto;
}

#dpad .vertical
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
#dpad button.horizontal {
    display: block;
}
#dpad button.right {
    float: right;
}
#dpad button.left {
    float: left;
}
table th.boolean-table {
    text-align: center;
    colspan: 2;
}
div#io-pins {
    margin: 5px 0px;
}

div.controls-group {
    float: left;
    margin: 0px 2px;
    padding: 10px;
}

div#system-controls h4 {
    text-align: center;
    margin: 0em 0em .5em 0em;
}

div#buttons .ui-button {
   margin: 0em;
   padding: 0em .2em;
}

.viewable {
   height: 40em;
}
