body 
{
	background-color: #222222;
}
.rounded-fix-padding
{
	 padding-left: 10px;
	 padding-right: 10px;
}
.rounded-fix-padding-both
{
	 padding: 10px;
}
.vidcontrol-container
{
	display: inline-block;
	vertical-align: top;
}
#system-controls
{
    margin: 5px 0px;
}
img.vidpreview
{
    width: 960px;
    height: 500px;
    margin-bottom: -500px;
}
div.vidoverlay
{
    width: 640px;
    height: 500px;
    position: relative;
}
div.slider-pan
{
    position: absolute;
    width: 590px;
    bottom: 20px;
    left: 25px;
    z-index: 5;
}
div.slider-tilt
{
    position: absolute;
    height: 400px;
    top: 50px;
    right: 15px;
}
.vidcontrol-container table
{
    width: 640px;
    height: 100px;
}
#dpad button
{
    width: 100%;
}

table th.boolean-table {
    text-align: center;
    colspan: 2;
}

div#io-pins {
    margin: 5px 0px;
}

div.controls-group {
    float: left;
    margin: 0px 2px;
    padding: 10px;
}

div#system-controls h4 {
    text-align: center;
    margin: 0em 0em .5em 0em;;
}

div#buttons .ui-button {
   margin: 0em;
   padding: 0em .2em;
}

div#error {
   height: 20em;
}
