/**
 * style.css:
 *
 * Basic styling for the LCARS website.
 *
 */
body{
	padding: 1vmin;
    height: 1vh;
    max-height: 1vh;
}
.vidpreview{
	width: auto;
  	height: auto;
}
.controls {
    color: white;
    background-color: rgba(0,0,0,0.8);
    border: 0.2em solid black;
    border-radius: 2em;
    padding: 0.5em;
}
/**
 * Fills:
 *
 * Force-fill horizontal and vertical space. This allows content to be scaled.
 */
.fill {
    width: 100%;
}
.fillv {
    height: 100%;
}
/**
 * Dropdown CSS:
 *
 * The CSS required to make the hover then display dropdown menu work. Dropdown contains hidden content until it is
 * hovered over where-in the content is then displayed as a block,  Must have high Z-index.
 */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown:hover .content {
    display: block;
    z-index: 1000;

}
.content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 10em;
    width: 100%;
    box-shadow: 0.1em 1em 2em 0em rgba(0,0,0,0.2);
}

